<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moredatasource.demo.dataSource.mybatisPlusDataSource.mybatisPlusDao2.EmployeePlusMapper">

    <select id="EmployeeMapper" resultType="java.util.Map">
        SELECT * FROM product_info where product_id = 3;
    </select>

</mapper>